body {
  color: white;
  background-color: black;
  font-size: 14px;
}

h1 {
  color: white;
}

#top {
  background-color: green;
}

header {
  color: white;
  height: 54px;
  font-size: 36px;
  background-color: green;
  padding-left: .5em;
}

header a, header a:hover {
  color: #1921b1;
  color: white;
  text-decoration: none;
}

#nav {
  float: right;
  padding: 0 24px 0 0;
}

#nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

footer {
  float: right;
}

#content {
  padding: 1em;
  min-height: 540px;
}

img {
  float: left;
}
