body {
  color: white;
  background-color: #839E85;
  background-color: #7E8A7D;
  font-size: 14px;
  font-family: 'Varela', sans-serif;
    background: url('/images/bg.png') repeat-x;



}

h1 {
  color: white;
}

#top {
  /*background-color: #42C765;*/
  
}

header {
  color: white;
  height: 72px;
  height: 54px;
  font-size: 48px;
  /*
  width: 650px;
  background-color: #42C765;
  padding: 0em 150px;
  */
  text-align: center;
}
#main_right a, #main_right a:hover, header a, header a:hover {
  font-size: 48px;
  color: #1921b1;
  color: #E8DCDF;
  color: white;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  text-shadow: red 0.1em 0.1em 0.2em;

}

footer a, footer a:hover {
  color: #1921b1;
  color: white;
  color: black;
  text-decoration: none;
}
#nav {
  float: right;
  padding: 0 24px 0 0;
}

#footer a {
  color: white;
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: black;
}

#content {
  padding: 1em;
  min-height: 540px;
}
/*
#main_left {
  float: left;
  padding-left: 40px;
}

#main_right {
  float: left;
  padding-left: 10em;
  width: 300px;

}
  */

#about_center {
  align: center;
  text-align: center;
  width: 300px;
}
