body {
  color: white;
  background-color: #839E85;
  font-size: 14px;
}

h1 {
  color: white;
}

#top {
  /*background-color: #42C765;*/
  
}

header {
  color: white;
  height: 7l2px;
  font-size: 48px;
  /*background-color: #42C765;*/
  padding-left: .5em;
  text-align: center;
}
header a, header a:hover {
  color: #1921b1;
  color: white;
  text-decoration: none;
}

footer a, footer a:hover {
  color: #1921b1;
  color: white;
  text-decoration: none;
}
#nav {
  float: right;
  padding: 0 24px 0 0;
}

#footer a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

footer {
  text-align: center;
}

#content {
  padding: 1em;
  min-height: 540px;
}

#main_left {
  float: left;
  padding-left: 40px;
}

#main_right {
  float: left;
  padding-left: 10em;
  width: 300px;

}

#about_center {
  align: center;
  text-align: center;
  width: 300px;
}
