<html>
<head>
<style type="text/css">
body
{
	    background-repeat: no-repeat;
background-color:#FFFFFF;
background-image: -webkit-gradient(linear, left top, left bottom, from(#40930F), to(#999999)) fixed; /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #40930F, #FFFFFF); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #40930F, #FFFFFF); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #40930F, #FFFFFF); /* IE10 */
  background-image:      -o-linear-gradient(top, #40930F, #FFFFFF); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #40930F, #FFFFFF);
}
</style>
</head>

<body>

<h1 style="font-size:500%;font-weight:bold;color:000000">About Us</h1>
<p style="font-size:125%;color:808080">Apps for Action is an app recommendation engine that allows users to find new free apps that fit their interests and raise money for their favorite charities each time they download one. By using Apps for Action, the simple act of downloading a new free app turns into a real-world positive impact. Our mission is to help users connect to the apps they want, while raising money for the charities they support. </p>

</body>
</html>


