<h1>About</h1>
Apps for Action is a mobile fundraising engine that allows individuals to raise money for their favorite charities by completing simple tasks on their mobile phones. By using the app, downloading a free game or watching a 30 second movie trailer turns into a real-world positive impact. It was started by a group of Pomona College students in Claremont, CA.
