<!DOCTYPE html>
<html>
<head>
	<title>About Apps for Action</title>
<link rel="stylesheet" href="customb.css" type="text/css">
<!-- <style type="text/css">
  @import url("custom.css");
</style> -->
</head>

<body>
<h1>About</h1>
Apps for Action is an app recommendation engine that allows users to find new free apps that fit their interests and raise money for their favorite charities each time they download one. By using Apps for Action, the simple act of downloading a new free app turns into a real-world positive impact. Our mission is to help users connect to the apps they want, while raising money for the charities they support. 
</body>


</html>

