<h1>About</h1>
Apps for Action is an app recomendation engine that allows individuals to find new apps that fit their interests and raise money for their favorite charities each time they download a suggested app or play a mobile game. By using Apps for Action, the simple app of downloading a new free app turns into a real-world positive impact. Our mission is to help individuals find ways to take common activities and provide services that help users while raising money for charities at the same time. It was started by a group of Pomona College students in Claremont, CA.
<br/>
<br/>
