<div id="main_left">
<%= image_tag "android_transparent.png", :size => "240x473"%>
</div>
<div id="main_right">
Put blurb about what Apps for Action is all about here.
</div>
<!--:size => "200x390"%> -->
