<div id="main_left" class="span-12">
<center>
<span style="margin-top: 0em; float:left">
<%= image_tag "New_Home_ScreenShotLarge.png"%>
</span>
</center>
</div>
<div id="main_right" class="span-11 last">
  <center>  
    <div style="float:left; margin-top: 1em; margin-right: 7em;" id="home_logo"><%= link_to image_tag("Title.png"),  home_path %></div>

<!-- This controls the style, font, and bacground color of the call-to-action text. -->
<div id="outerDiv" style="position: relative; border: 0px solid green; width: 525px; float: right; margin-bottom: 2em">

<div id="semiTransparentDiv" style="position: absolute; background-color: white; filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75; height: 100%; width: 100%; z-index: 1;-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px;"></div>

<div id="contentDiv" style="position: relative; z-index: 2; padding: 10px; color: black; text-align:left; font-size:125%; font-family: georgia, serif;">Looking for the coolest new free apps on your Android phone? <br /> 
Our app recommends free apps that you would like. <br /> Each time you download one, 25 cents is donated to your favorite charity. That’s right! You find the free apps you want, <i><b>and</b></i> support the causes you care about.<br /> <br /> <b><style="text-align:center">What are you waiting for?</b></style></div>

</div>

  <br />

<div style="float: left;"><a href="http://twitter.com/share" class="twitter-share-button" data-url="www.appsforaction.com" data-text="Check out this app!" data-count="horizontal" data-via="appsforaction">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
<div style="float: left;">        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
              <fb:like></fb:like></div>

</html>