<div id="main_left" class="span-12">
<center>
<span style="margin-top: 5em;">
<%= image_tag "New_Home_ScreenShotLarge.png"%>
</span>
</center>
</div>
<div id="main_right" class="span-11 last">
  <center>  
    <div id="home_logo"><%= link_to image_tag("title.png", size:"415.8x76.23"),  home_path %></div>
<br>
<br>
<div rel="F6K5HM35" class="lrdiscoverwidget" data-logo="off" data-background="off" data-share-url="appsforaction.com" data-css=""></div><script type="text/javascript" src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>

  <br />
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="www.appsforaction.com" data-text="Check out this app!" data-count="horizontal" data-via="appsforaction">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
              <fb:like></fb:like>



</div>
