<header>
      <%= link_to "Dustin's Site", home_path %>
      <div id="nav">
        <%= link_to "Home", home_path %>
        <%= link_to "Blog", blog_path %>
        <%= link_to "FAQ", faq_path %>
      </div>
      </header>
